@page "/ServicingPages/Servicing"
<PageTitle>Servicing</PageTitle>


<div class="container h-100">
    <h1>Servicing</h1>
    @*<form class="needs-validation form-horizontal" novalidate>*@
        <div class="card mb-4">
            <div class="card-body p-4">
                <div class="mb-3 row">
                    <div class="col-sm-5">

                        <input type="text" class="form-control" id="customerLastName" placeholder="Customer Last Name" @bind-value="@customerLastName" required>
                    </div>
                    <div class="col-3">
                        <button class="btn btn-primary" type="submit" onclick="@GetCustomer">Search</button>
                    </div>

                    @if(customerLastName == null)
                    {
                        <div class="invalid-feedback">
                            Please provide a Customer Last Name
                        </div>
                    }

                </div>
                @if(Customers != null)
                {
                    <div class="card mb-4">
                        <div class="card-body px-4">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col" class="small text-muted mb-4 pb-2">Select</th>
                                        <th scope="col" class="small text-muted mb-4 pb-2">Name</th>
                                        <th scope="col" class="small text-muted mb-4 pb-2">Phone</th>
                                        <th scope="col" class="small text-muted mb-4 pb-2 text-end">Address</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider">
                                    @foreach(var customer in Customers)
                                    {
                                        <tr>
                                            <td class="lead fw-normal mb-0">
                                                <button class="btn btn-success btn-md" @onclick="() => GetCustomerVehicle(customer.CustomerID)"><i class="bi bi-check2-circle"></i></button>
                                            </td>
                                            <td class="lead fw-normal mb-0">@customer.Name</td>
                                            <td class="lead fw-normal mb-0">@customer.Phone</td>
                                            <td class="lead fw-normal mb-0 text-end">@customer.Address</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }

                <div class="container">
                    <form>
                        <div class="mb-3 row">
                            <label for="vehicle" class="col-sm-2 col-form-label">Vehicle</label>
                            <div class="col-sm-4">
                                <select class="form-control" id="vehicle" @onchange="SetVin">
                                    <option value="">Choose Vehicle</option>
                                    @foreach (var vehicle in Vehicles)
                                    {
                                        <option value="@vehicle.VehicleIdentificationNumber">@vehicle.MakeModel</option>
                                    }
                                </select>
                                <div class="invalid-feedback">
                                    Please select a vehicle
                                </div>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="vin" class="col-form-label">VIN</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="vin" placeholder="" @bind-value="vin" readonly>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body px-4">
                <div class="row align-items-center">
                    <div class="mb-3 row">
                        <div class="col-sm-5">
                        <label for="standard" class=" col-form-label">Standard Service</label>
                            <select class="form-select" id="service" @onchange="@SetServiceDescription" required>
                                <option value="">Standard Services</option>
                                @foreach(var service in serviceList)
                                {
                                    <option value="@service">@service</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <div class="col-sm-5">
                        <label for="description" class=" col-form-label">Service Description</label>
                            <input type="text" class="form-control" id="description" placeholder="Service Description" @bind-value="description" required>
                            <div class="invalid-feedback">
                                Service name not provided
                            </div>
                        </div>
                    </div>

                <div class="mb-3 row">
                    <div class="col-sm-5">
                        <label for="shoprate" class=" col-form-label">Shop Rate</label>
                        <input type="text" class="form-control" id="description" placeholder="65.50" @bind-value="shopRate" readonly>
                        <div class="invalid-feedback">
                            Service name not provided
                        </div>
                    </div>
                </div>

                    <div class="mb-3 row">
                        <div class="col-sm-5">
                        <label for="jobhours" class="col-form-label">Job Hours</label>
                            <input class="form-control"type="text" placeholder="Service Hours" @bind-value="@jobHours" required />
                            <div class="invalid-feedback">
                                Service name not provided
                            </div>
                        </div>
                    </div>

                <div class="mb-3 row">
                    <div class="col-sm-5">
                        <label for="comment" class=" col-form-label">Comment</label>
                        <input class="form-control" type="text" placeholder="Comment" @bind-value="@comment" required />
                    </div>
                </div>

                    <div class="mb-3 row">
                        <div class="col-sm-5">
                        <label for="coupon" class=" col-form-label">Coupon</label>
                            <input class="form-control" type="text" placeholder="Cupon" @bind-value="@couponCode"/>
                            <div class="invalid-feedback">
                                Cupon not found
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <div class="col-3">
                            <button class="btn btn-primary" type="submit" onclick="@GetCoupon">Search Cupon</button>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="discount" class=" col-form-label">Coupon Discount Percentage</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="discount" @bind-value='@CouponDiscount' readonly >
                        </div>
                    </div>
                    
                    <div class="card mb-2">
                        <div class="card-body p-4">
                            <div class="row align-">
                                <div class="col-3">
                                    <button class="btn btn-success btn-lg" onclick="@AddService">Add Service</button>
                                </div>
                                <div class="col-3">
                                    <button class="btn btn-warning btn-lg" onclick="@Clear">Clear</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body px-4">
                <div class="row align-items-center">
                    <div class="card mb-4">
                        <div class="card-body px-4">
                        @if(!(JobDetailList == null))
                        {
                            @if (JobDetailList.Count != 0)
                            {
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="small text-muted mb-4 pb-2">Delete</th>
                                            <th scope="col" class="small text-muted mb-4 pb-2">Service</th>
                                            <th scope="col" class="small text-muted mb-4 pb-2">Hours</th>
                                            <th scope="col" class="small text-muted mb-4 pb-2 text-end">Comment</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-group-divider">
                                        @foreach (var item in JobDetailList)
                                        {
                                            <tr>
                                                <td class="lead fw-normal mb-0">
                                                    <button class="btn btn-danger btn-md" @onclick="(() => RemoveService(item))"><i class="bi bi-x-circle"></i></button>
                                                </td>
                                                <td class="lead fw-normal mb-0">@item.Description</td>
                                                <td class="lead fw-normal mb-0">@item.JobHour</td>
                                                <td class="lead fw-normal mb-0 text-end">@item.Comment</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <div class="row">
                                    <div class="col-12 d-flex justify-content-center mt-5">
                                        <h3>No Service Added</h3>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-12 d-flex justify-content-center mt-5">
                                    <h3>No Service Added</h3>
                                </div>
                            </div>
                        }

                    </div>
                    </div>
                </div>
            </div>

            <div class="card-body px-4">
                <div class="row align-items-center">
                    <div class="mb-3 row">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Hours</span>
                            </div>
                        @if(JobDetailList == null)
                        {
                            <input type="text" class="form-control" placeholder="0">
                        }
                        else
                        {
                            <input type="text" class="form-control" id="discount" placeholder="@JobDetailList.Sum(x => x.JobHour)" @onchange="SetTotalHours" readonly>
                            <div></div>
                        }

                        </div>
                    </div>

                    <div class="mb-3 row">
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Total Price</span>
                          </div>
                        @if (JobDetailList == null)
                        {
                            <input type="text" class="form-control" placeholder="0">
                        }
                        else
                        {
                            <input type="text" class="form-control" id="discount" placeholder="@((JobDetailList.Sum(x => x.JobHour) * (decimal)65.5) - CouponDiscount)" @onchange="SetSubtotal" readonly>
  
                        }
                        </div>
                    </div>
                </div>

                <div class="card mb-2">
                    <div class="card-body p-4">
                        <div class="row align-">
                            <div class="col-3">
                                <button class="btn btn-success btn-lg" @onclick=RegisterJob>Register Job</button>
                            </div>
                            <div class="col-3">
                                <button class="btn btn-warning btn-lg" @onclick=ClearAll>Clear All</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

           
        </div>

    @*</form>*@
</div>
